@media (max-width: 1755px) {
    .team {
        &__bg {
            left: -410px;
        }
    }
}
@media (max-width: 1700px) {
    .team {
        &__bg {
            width: 780px;
            height: 317px;
            top: 117px;
            left: -449px;
        }
        &__block {
            width: 100%;
            max-width: 1100px;
        }
        &__descr-text {
            max-width: 322px;
        }
    }
}

@media (max-width: 1469px) {
    .partrtner {
        &__btns {
            display: flex;
            justify-content: space-between;
            // justify-content: center;
            flex-wrap: wrap;
            max-width: 600px;
            width: 100%;
        }
        &__btn {
            margin-right: 0px;
            &:nth-child(4) {
                margin-bottom: 20px;
            }
            &:nth-child(5) {
                margin-bottom: 0;
            }
            &:nth-child(6) {
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }
    .team {
        &__inner {
            flex-direction: column;
            align-items: flex-start;
            &::before {
                width: 171px;
                height: 171px;
                background-image: url("../images/team-bg.svg");
                top: -140px;
                right: 250px;
            }
            &::after {
                display: none;
            }
        }
        &__bg {
            display: none;
        }
        &__block {
            width: 100%;
            max-width: 1100px;
        }
        &__descr {
            margin-top: 0px;
            margin-bottom: 40px;
            max-width: 700px;
        }
        &__descr-text {
            max-width: 100%;
        }
        &__slider {
            width: 100%;
            margin-top: 40px;
        }
    }
    .how {
        &__bg {
            max-width: 600px;
        }
    }
}

@media (max-width: 1087px) {
    .partrtner {
        &__inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__btns {
            flex-wrap: wrap;
            max-width: 100%;
            width: 100%;
            margin-top: 30px;
            gap: 20px;
        }
        &__btn {
            margin: 0px;
            &:nth-child(4) {
                margin-bottom: 0px;
            }
        }
        &__block {
            padding: 30px;
            max-width: 800px;
            width: 100%;
            // min-height: 362px;
            background: #ffffff;
            border: 1px solid #dedede;
            border-radius: 10px;
            margin-right: 10px;
        }
    }
    .team {
        &__slider-box {
            top: 52px;
        }
    }
    .how {
        &__inner {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        &__descr {
            max-width: 100%;
            margin-right: 30px;
            margin-bottom: 50px;
        }
        &__bg {
            width: 100%;
        }
    }
    .create {
        &__wrapp {
            margin-top: 20px;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

@media (max-width: 960px) {
    .title {
        font-size: 44px;
        line-height: 52px;
    }
    .header {
        &__content {
            margin-top: 100px;
            margin-bottom: 200px;
        }
        &__el-2 {
            width: 200px;
            top: -60px;
            left: 191px;
        }
        &__el-1 {
            width: 600px;
            bottom: -200px;
        }
    }

    .partrtner {
        &__title {
            margin: 80px 0 50px;
        }
        &__inner {
            margin-bottom: 80px;
        }
    }

    .contact {
        &__title {
            margin-bottom: 30px;
        }
        &__bg {
            top: 130px;
            right: -350px;
            max-height: 800px;
            opacity: 0.6;
        }
    }

    .team {
        padding: 90px 0 130px;
    }

    .create {
        padding: 90px 0px;
    }

    .footer {
        &__block2 {
            margin-right: 40px;
        }
        &__block3 {
            margin-top: 60px;
        }
    }
}

@media (max-width: 768px) {
    .lock {
        overflow: hidden;
    }

    .header {
        &__logo {
            z-index: 1001;
        }
        &__mob-menu {
            display: block;
            width: 24px;
            height: 24px;
            // padding: 5px;
            cursor: pointer;
            z-index: 1001;
            & span {
                display: block;
                height: 2px;
                width: 100%;
                background-color: #ffffff;
                margin-bottom: 5px;
                transition: all 0.5s;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__mob-menu-active {
            padding-top: 6px;
            & span {
                margin-bottom: -2px;
                transition: all 0.5s;
                &:nth-child(1) {
                    transform: rotate(-45deg);
                }
                &:nth-child(3) {
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
            }
        }

        &__menu {
            position: fixed;
            top: 0;
            right: -1500px;
            min-height: 100%;
            width: 100%;
            z-index: 1000;
            transition: all 0.7s;
            overflow: auto;
            background: linear-gradient(104.93deg, rgba(122, 122, 122, 0.1) 1.86%, rgba(122, 122, 122, 0) 104.73%);
            filter: drop-shadow(0px 4px 4px rgba(50, 50, 50, 0.15));
            backdrop-filter: blur(100px);
            display: flex;
            flex-direction: column;
            // justify-content: center;
            // align-items: center;
        }
        &__menu-active {
            right: 0;
        }
        &__menu-items {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: auto;
        }
        &__menu-item {
            margin-right: 0px;
            font-size: 24px;
            line-height: 28px;
            text-transform: uppercase;
            margin-bottom: 30px;
            padding-left: 20px;
            font-weight: bold;
            &:first-child {
                margin-top: 132px;
            }
        }

        &__soc {
            display: block;
            margin: 0 auto 35px;
            max-width: 165px;
            width: 100%;
        }

        &__content-title {
            font-size: 54px;
            line-height: 59px;
        }
        &__content-text {
            margin: 0 auto;
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 74px;
        }
        &__content-btn-wrap {
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            align-items: center;
            justify-content: center;
            // flex-wrap: wrap;
        }
        &__content-btn {
            line-height: 28px;
            margin-right: 0px;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .contact {
        padding: 100px 0 90px;
        &__title {
            margin-bottom: 30px;
        }
        &__bg {
            top: 130px;
            right: -350px;
            max-height: 800px;
            opacity: 0.6;
        }
        &__img-bg {
            display: none;
        }
        &__form {
            width: 100%;
            margin-bottom: 0px;
            position: relative;
        }
        &__box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 100%;
            width: 100%;
            margin-bottom: 0px;
        }
        &__input,
        &__select {
            margin-right: 0px;
            padding: 0 21px;
            max-width: 100%;
            width: 100%;
            height: 50px;
            margin-bottom: 15px;
            &::placeholder {
                font-size: 16px;
                line-height: 18px;
            }
        }
        &__select {
            font-size: 16px;
            line-height: 18px;
            background-position: right 1.5em top 50%, 0 0;
        }
        &__textarea {
            font-size: 16px;
            line-height: 18px;
        }
    }

    .team {
        &__inner {
            &::before {
                top: -140px;
                right: 50px;
            }
        }
        &__block {
            width: 100%;
            max-width: 100%;
        }
        &__slider-arrows {
            display: none;
        }
        &__slider {
            width: 100%;
            margin-top: 71px;
            max-width: 530px;
        }
        &__descr-text {
            max-width: 322px;
        }
        .swiper-horizontal > .swiper-scrollbar {
            position: absolute;
            left: 0%;
            bottom: -40px;
            z-index: 50;
            height: 5px;
            width: 100%;
            // width: auto;
        }
        .swiper-scrollbar-drag {
            height: 7px !important;
            width: 100%;
            position: relative;
            background: #17191d;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            border-radius: 1px;
            left: 0;
            top: -3px;
        }
    }

    .team-pop {
        &__wrapper {
            padding: 10px;
            max-width: 335px;
            left: 143px;
            top: 280px;
            z-index: 100;
        }
        &__close {
            position: absolute;
            right: 14px;
            top: 6px;
        }
        &__top {
            flex-direction: column;
        }
        &__img {
            width: 102px;
            height: 90px;
        }

        &__box-wrapp {
            margin-top: 20px;
            justify-content: space-between;
            margin-left: 0px;
            max-width: 254px;
            width: 100%;
            margin-bottom: 5px;
        }
        &__box-left-text {
            margin-bottom: 15px;
            font-size: 16px;
            margin-top: 10px;
            line-height: 18px;
        }
        &__box-right-link {
            padding: 7px 10px;
            font-size: 16px;
            line-height: 18px;
            color: #2c2c2c;
            margin-bottom: 12px;
            background: #f4f4f4;
            border-radius: 7px;
        }
        &__box-icons {
            padding: 5px 0px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            margin-left: 0px;
            max-width: 146px;
        }
        &__box-icon {
            width: 24px;
        }
        &__content-text {
            font-size: 16px;
            line-height: 147%;
        }
    }

    .footer {
        padding-bottom: 90px;
        &__title {
            margin: 80px 0 50px;
            font-size: 34px;
            line-height: 42px;
        }
        &__inner {
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 100%;
        }
        &__block2 {
            margin-top: 30px;
            margin-right: 0px;
        }
        &__block3 {
            margin-top: 30px;
        }
    }
}

@media (min-width: 319px) and (max-width: 593px) {
    .title {
        font-size: 24px;
        line-height: 28px;
    }
    .container {
        padding: 0 20px;
    }
    .header {
        &__top {
            margin-top: 26px;
        }
        &__logo {
            z-index: 1001;
            width: 102px;
        }
        &__content {
            margin-top: 83px;
            margin-bottom: 142px;
        }
        &__content-inner {
            padding: 56px 15px;
            max-width: 100%;
        }
        &__content-title {
            font-size: 34px;
            line-height: 39px;
            margin-bottom: 30px;
        }
        &__content-text {
            margin: 0 auto;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 40px;
        }
        &__el-1 {
            width: 314px;
            bottom: -142px;
        }
        &__el-2 {
            width: 79px;
            top: -10px;
            left: 81px;
        }

        &__content-btn {
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 30px;
        }
    }

    .partrtner {
        &__inner {
            margin-bottom: 50px;
        }
        .partrtner__block {
            padding: 10px;
            max-width: 100%;
            width: 100%;
            margin-right: 0px;
            min-height: 240px;
        }
        &__block-name {
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 5px;
        }
        &__block-ava {
            width: 44px;
            height: 44px;
            margin-right: 10px;
        }
        &__block-position {
            font-size: 16px;
            line-height: 18px;
        }
        &__block-text {
            font-size: 16px;
            line-height: 137%;
        }
        &__btns {
            gap: 16px;
            justify-content: center;
        }
        &__btn {
            max-width: 160px;
            width: 100%;
            min-height: 101px;
            // margin-right: 16px;
            // &:nth-child(2) {
            //     margin-right: 0px;
            // }
            // &:nth-child(3) {
            //     margin-right: 16px;
            // }
            &:nth-child(4) {
                margin-bottom: 0px;
                margin-right: 0;
            }
            // &:nth-child(5) {
            //     margin-bottom: 0;
            // }
            // &:nth-child(6) {
            //     margin-right: 0;
            //     margin-bottom: 0;
            // }
        }
        // &__block {
        //     padding: 30px;
        //     max-width: 800px;
        //     width: 100%;
        //     background: #ffffff;
        //     border: 1px solid #dedede;
        //     border-radius: 10px;
        //     margin-right: 10px;
        // }
    }
    .team {
        padding: 50px 0 97px;
        &__inner {
            margin-top: 30px;
            &::before {
                content: "";
                position: absolute;
                width: 75px;
                height: 75px;
                background-image: url("../images/team-bg-mob.svg");
                background-repeat: no-repeat;
                top: -70px;
                right: 20px;
            }
        }
        &__descr-title {
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 15px;
        }
        &__descr-text {
            max-width: 100%;
            margin-right: 0;
            font-size: 16px;
            line-height: 147%;
        }
        &__form {
            max-width: 100%;
            min-height: 38px;
            background: #f0f0f0;
            border-radius: 61px;
        }
        &__label {
            max-width: 131px;
            width: 100%;
            min-height: 38px;
        }
        &__label-text {
            margin-left: 27px;
            font-size: 18px;
            line-height: 21px;
        }
        &__check-style {
            width: 22px;
            height: 22px;
            left: 10px;
            border: 2px solid #000;
            border-radius: 50%;
        }
        .team__label--active .team__check-style {
            border: 2px solid #fff;
        }
        &__checkbox:checked + &__check-style::before {
            content: "";
            position: absolute;
            top: 3px;
            left: 3px;
            width: 11px;
            height: 11px;
            background-color: #fff;
            border-radius: 50%;
        }
        &__slider-box {
            top: 52px;
        }
        &__slider-slide {
            max-width: 335px;
            width: 100%;
            height: 268px;
        }
        .team__box-btn {
            margin-top: 20px;
            max-width: 233px;
            height: 55px;
        }
    }
    .contact {
        padding: 50px 0 50px;

        &__bg {
            top: 148px;
            right: -182px;
            max-height: 440px;
            opacity: 0.4;
        }
        &__input,
        &__select {
            padding: 16px;
        }
        &__textarea {
            font-size: 16px;
            line-height: 18px;
        }
        &__box-btns {
            justify-content: center;
            align-items: center;
            max-width: 100%;
        }
        &__box-upload-inner {
            padding: 13px 0 16px 0;
            max-width: 100%;
            margin-bottom: 37px;
        }
        &__box-btn {
            padding: 18px 110px;
            font-size: 20px;
            line-height: 23px;
        }
    }

    .footer {
        padding-bottom: 50px;
        &__title {
            margin: 50px 0 30px;
            font-size: 24px;
            line-height: 28px;
        }
        &__block-title {
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 20px;
            &::after {
                content: "";
                position: absolute;
                width: 89px;
                height: 2px;
                background: #ff0b53;
                bottom: -1px;
                left: 0;
            }
        }
        &__block-box {
            padding-left: 25px;
        }
        &__block-address,
        &__block-mail,
        &__block-phone {
            font-size: 16px;
            line-height: 18px;
        }
        &__block-address {
            &::before {
                background-image: url("../images/icons/map-pin-mob.svg");
                width: 16px;
                height: 16px;
                left: -27px;
                top: 0px;
            }
        }
        &__block-mail {
            &::before {
                content: "";
                position: absolute;
                background-image: url("../images/icons/mail-mob.svg");
                width: 14px;
                height: 12px;
                left: -27px;
                top: 4px;
            }
        }
        &__block-phone {
            &::before {
                content: "";
                position: absolute;
                background-image: url("../images/icons/phone-mob.svg");
                width: 12px;
                height: 12px;
                left: -27px;
                top: 4px;
            }
        }
        &__soc {
            max-width: 132px;
            margin-bottom: 20px;
        }
        &__soc-icon {
            width: 24px;
            height: 24px;
        }
        &__soc-privacy {
            font-size: 16px;
            line-height: 18px;
            color: #b1b1b1;
        }
    }

    .how {
        &__inner {
            padding: 60px 0 60px;
        }
        &__title {
            margin: 0px 0 30px;
        }
        &__text {
            font-size: 16px;
            line-height: 156%;
            margin-top: 10px;
            &:last-child {
                margin-top: 0;
            }
        }
        &__link {
            display: inline-block;
            margin-top: 40px;
            font-size: 16px;
            line-height: 147%;
            padding-right: 34px;
            &::after {
                bottom: -5px;
            }
        }
    }

    .create {
        padding: 50px 0px;
        &__title {
            margin-bottom: 30px;
        }
        &__box {
            padding: 10px;
            min-height: auto;
        }
        &__img {
            width: 33px;
            margin-bottom: 15px;
        }
        &__img2 {
            width: 26px;
            margin-bottom: 15px;
        }
        &__img3 {
            width: 30px;
            margin-bottom: 15px;
        }
        &__img4 {
            width: 32px;
            margin-bottom: 15px;
        }

        &__wrapp2 {
            display: none;
        }
        &__word {
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 15px;
        }
        &__text {
            font-size: 14px;
            line-height: 137%;
        }
        &__link {
            margin-top: 15px;
            max-width: 109px;
            font-size: 16px;
            line-height: 147%;
        }
        &__more {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            text-decoration-line: underline;
            font-size: 16px;
            line-height: 147%;
        }
    }
}
