@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "media";
@import "global";

.header {
    background-image: url("../images/bgfirst.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // min-height: 1080px;

    &__top {
        margin-top: 30px;
    }
    &__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu-items {
        display: flex;
        color: #fff;
    }
    &__menu-item {
        margin-right: 30px;
        transition: all 0.5s;
        &:last-child {
            margin-right: 0;
        }
    }
    &__menu-link {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 18px;
        transition: all 0.9s;
        position: relative;
        &:after {
            position: absolute;
            content: "";
            width: 0;
            height: 1px;
            background-color: #fff;
            bottom: -2px;
            right: 0;
            left: 0;
            transition: all 0.4s;
        }
        &:hover {
            &:after {
                width: 100%;
            }
        }
    }

    &__mob-menu {
        display: none;
    }

    &__soc {
        display: none;
        max-width: 165px;
    }
    &__soc-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 165px;
        width: 100%;
    }
    &__soc-text {
        text-align: center;
        margin-top: 25px;
        font-size: 16px;
        line-height: 18px;
        color: #b1b1b1;
    }

    &__content {
        margin-top: 163px;
        margin-bottom: 248px;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 1;
    }
    &__content-inner {
        padding: 72px 46px;
        max-width: 1268px;
        background: linear-gradient(104.93deg, rgba(122, 122, 122, 0.19) 1.86%, rgba(122, 122, 122, 0) 104.73%);
        filter: drop-shadow(0px 4px 4px rgba(50, 50, 50, 0.15));
        backdrop-filter: blur(100px);
        border-radius: 7px;
        z-index: 1;
    }
    &__content-title {
        font-size: 72px;
        line-height: 83px;
        text-align: center;
        color: #ffffff;
        @extend %u-700;
        margin-bottom: 40px;
    }
    &__content-text {
        display: block;
        margin: 0 auto;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #ffffff;
        max-width: 742px;
        margin-bottom: 114px;
    }
    &__content-btn-wrap {
        max-width: 633px;
        margin: 0 auto;
    }
    &__content-btn {
        display: inline-block;
        padding: 18px 0;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 36px;
        width: 284px;
        margin-right: 60px;
        transition: all 0.4s;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            background-color: #ff0b53;
            border: 1px solid #ff0b53;
        }
    }

    &__el-1,
    &__el-2,
    &__el-3 {
        position: absolute;
        z-index: -1;
    }

    &__el-1 {
        bottom: -248px;
    }
    &__el-2 {
        top: -181px;
        left: 280px;
    }
    &__el-3 {
        top: 175px;
        right: 50px;
    }
}

.partrtner {
    &__title {
        margin: 120px 0 90px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 120px;
    }

    &__block {
        display: none;
        padding: 30px;
        width: 860px;
        min-height: 362px;
        background: #ffffff;
        border: 1px solid #dedede;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-right: 10px;
    }
    &__block--active {
        display: block;
    }
    &__block-top {
        display: flex;
        margin-bottom: 30px;
    }
    &__block-ava {
        width: 70px;
        height: 70px;
        margin-right: 16px;
    }
    &__block-name {
        font-size: 24px;
        line-height: 28px;
        @extend %u-500;
        margin-bottom: 10px;
    }
    &__block-position {
        font-size: 20px;
        line-height: 23px;
        color: #575757;
    }

    &__block-text {
        font-size: 20px;
        line-height: 147%;
        color: #3d3d3d;
    }

    &__btns {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 900px;
        width: 100%;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 280px;
        width: 100%;
        min-height: 171px;
        margin-right: 20px;
        margin-bottom: 20px;
        background-color: #ffffff;
        border: 1px solid #dedede;
        border-radius: 10px;
        transition: all 0.4s;
        &:hover {
            box-shadow: 0px 0px 22px 5px rgba(34, 60, 80, 0.2);
        }
        &:nth-child(3) {
            margin-right: 0;
        }
        &:nth-child(4) {
            margin-bottom: 0;
        }
        &:nth-child(5) {
            margin-bottom: 0;
        }
        &:nth-child(6) {
            margin-right: 0;
            margin-bottom: 0;
        }
    }

    &__btn--active {
        box-shadow: 0px 0px 22px 5px rgba(34, 60, 80, 0.2);
    }
}

.team {
    // background: linear-gradient(90deg, #f8f8f8 0%, rgba(248, 248, 248, 0) 107.87%);
    background-color: #fff;
    padding: 120px 0 230px;
    &__inner {
        margin-top: 71px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // flex-wrap: wrap;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 171px;
            height: 171px;
            background-image: url("../images/team-bg.svg");
            background-repeat: no-repeat;
            top: -140px;
            right: 250px;
        }
        &::after {
            content: "";
            position: absolute;
            width: 171px;
            height: 171px;
            background-image: url("../images/team-bg.svg");
            background-repeat: no-repeat;
            bottom: -160px;
            left: 35px;
            z-index: 30;
        }
    }

    &__descr {
        max-width: 430px;
        margin-right: 20px;
        // min-height: 235px;
        height: 100%;
        margin-top: 60px;
        z-index: 11;
        width: 100%;
    }
    &__descr-title {
        font-size: 34px;
        line-height: 39px;
        color: #101020;
        @extend %u-500;
        margin-bottom: 18px;
    }
    &__descr-text {
        font-size: 24px;
        line-height: 147%;
        color: #3d3d3d;
    }

    &__bg {
        position: absolute;
        width: 780px;
        height: 343px;
        background-color: #fff;
        top: 139px;
        left: -352px;
        z-index: 10;
        // background-color: inherit;
    }

    .swiper {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: visible;
        list-style: none;
        padding: 0;
        z-index: 0;
    }
    .swiper-scrollbar {
        // border: 1px solid #676767;
        width: 1px;
        height: 1px !important;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
    .swiper-horizontal > .swiper-scrollbar {
        position: absolute;
        left: 1%;
        bottom: -82px;
        z-index: 50;
        height: 5px;
        width: 70%;
        // width: auto;
    }
    .swiper-scrollbar-drag {
        height: 7px !important;
        // width: 230px !important;
        position: relative;
        background: #17191d;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1px;
        left: 0;
        top: -3px;
    }

    &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 633px;
        min-height: 68px;
        background: #f0f0f0;
        border-radius: 61px;
    }
    &__label {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 211px;
        width: 100%;
        min-height: 68px;
        border-radius: 61px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #000;
        cursor: pointer;
        position: relative;
    }
    &__label--active {
        background: #ff0b53;
        color: #ffffff;
    }
    &__label-text {
        margin-left: 20px;
    }
    &__checkbox {
        // margin-right: 15px;
        // pointer-events: none;
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }
    &__check-style {
        position: absolute;
        width: 25px;
        height: 25px;
        left: 13px;
        border: 3px solid #000;
        border-radius: 50%;
    }
    .team__label--active .team__check-style {
        border: 3px solid #fff;
    }
    &__checkbox:checked + &__check-style::before {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        // transform: translate(-50%, 50%);
        width: 13px;
        height: 13px;
        background-color: #fff;
        border-radius: 50%;
    }
    &__checkbox--active {
        background: #ff0b53;
        color: #ffffff;
    }

    &__block {
        width: 100%;
        max-width: 1300px;
    }
    &__slider {
        width: 100%;
        margin-top: 71px;
        // max-width: 1200px;
    }
    &__slider-slide {
        position: relative;
        transition: all 0.5s;
        &:hover {
            .team__slider-box {
                opacity: 1;
            }
            .team__slide-inner {
                &::before {
                    opacity: 1;
                }
            }
        }
    }
    &__slide-inner {
        position: relative;
        transition: all 0.5s;
        max-width: 430px;
        width: 100%;
        &::before {
            content: "";
            position: absolute;
            transition: all 0.5s;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.479);
            top: 0;
            left: 0;
            opacity: 0;
        }
    }
    &__slider-img {
        border: 1px solid #9a9a9a;
        border-radius: 5px;
    }
    &__slider-box {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 122px;
        left: 0;
        right: 0;
        color: #fff;
        margin: auto;
        opacity: 0;
        transition: all 0.5s;
    }

    &__box-btn {
        margin-top: 30px;
        width: 267px;
        height: 64px;
        background: #ff0b53;
        border-radius: 49px;
        cursor: pointer;
        transition: all 0.4s;
        &:hover {
            background: #be175d;
        }
    }

    &__slider-arrows {
        position: absolute;
        width: 160px;
        right: 0px;
        bottom: -77px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        width: 50px;
        height: 50px;
        background: #f8f8f8;
        border: 1px solid #dedede;
        box-sizing: border-box;
        border-radius: 50%;
    }
    .swiper-button-next:after {
        background-image: url("../images/icons/arrow-right.svg");
        width: 18px;
        height: 17px;
        font-size: 0;
    }
    .swiper-button-prev:after {
        background-image: url("../images/icons/arrow-left.svg");
        width: 18px;
        height: 17px;
        font-size: 0;
    }
}

.team-pop {
    .team-pop__overlay-active {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.815);
        z-index: 200;
        overflow: auto;
    }
    &__container {
        position: absolute;
    }
    &__wrapper {
        padding: 20px;
        max-width: 724px;
        left: 143px;
        top: 280px;
        background: #ffffff;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        z-index: 100;
    }
    &__close {
        position: absolute;
        right: -22px;
        top: -19px;
        cursor: pointer;
    }

    &__top {
        display: flex;
    }
    &__img {
        width: 271px;
        height: 239px;
        border-radius: 5px;
        border: 1px solid #9a9a9a;
    }

    &__box-wrapp {
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
        max-width: 312px;
        width: 100%;
        // flex-direction: column;
    }
    &__box-left,
    &__box-right {
        display: flex;
        flex-direction: column;
    }

    &__box-left-text {
        margin-bottom: 21px;
    }

    &__box-right-link {
        padding: 7px 10px;
        font-size: 20px;
        line-height: 23px;
        color: #2c2c2c;
        margin-bottom: 12px;
        background: #f4f4f4;
        border-radius: 7px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__box-icons {
        padding: 5px 0px;
        display: flex;
        justify-content: space-around;
        margin-left: 20px;
        // margin-top: 1px;
        max-width: 176px;
        width: 100%;
        background: #f4f4f4;
        border-radius: 7px;
    }
    &__box-icon {
        width: 29px;
    }

    &__content {
        margin-top: 20px;
    }
    &__content-text {
        font-size: 20px;
        line-height: 147%;
        color: #3d3d3d;
    }

    @keyframes mm-fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes mm-slideIn {
        from {
            transform: translateY(35%);
        }
        to {
            transform: translateY(0);
        }
    }

    .team-pop__overlay {
        animation: mm-fadeIn 0.3s cubic-bezier(0, 0, 0.6, 1);
    }
}

.contact {
    padding: 120px 0 90px;
    // background-image: url("../images/contact-bg.svg");
    // background-size: contain;
    // background-position: right;
    // background-repeat: no-repeat;
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        right: -200px;
        max-height: 1040px;
        // opacity: 0.3;
    }

    &__form {
        max-width: 880px;
        margin-bottom: 274px;
        position: relative;
    }
    &__box {
        display: flex;
        // flex-wrap: wrap;
        justify-content: space-between;
        max-width: 880px;
        width: 100%;
        margin-bottom: 20px;
    }
    &__input,
    &__select {
        margin-right: 10px;
        padding: 0 21px;
        max-width: 430px;
        width: 100%;
        height: 64px;
        background: #ffffff;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 7px;
        border: none;
        &:last-child {
            margin-right: 0;
        }
        &::placeholder {
            font-size: 20px;
            line-height: 23px;
            color: #585858;
        }
    }

    &__select {
        font-size: 20px;
        line-height: 23px;
        color: #585858;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        position: relative;
        background-image: url("../images/icons/arrow-select.svg");
        background-repeat: no-repeat;
        background-position: right 0.7em top 50%, 0 0;
    }

    &__textarea {
        padding: 21px;
        resize: none;
        width: 100%;
        min-height: 222px;
        background: #ffffff;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 7px;
        border: none;
        margin-bottom: 34px;
    }

    &__box-btns {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__box-upload-inner {
        padding: 17px 0 16px 0;
        max-width: 284px;
        width: 100%;
        // min-height: 57px;
        border: 1px solid #101020;
        box-sizing: border-box;
        border-radius: 7px;
        cursor: pointer;
    }
    &__box-upload {
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }
    &__box-label {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    &__box-span-wrapp {
        margin-right: 10px;
    }
    &__box-span-text {
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #101020;
        @extend %u-400;
    }

    &__box-btn {
        padding: 18px 103px;
        font-size: 24px;
        line-height: 28px;
        color: #fff;
        background-color: #101020;
        border-radius: 36px;
        cursor: pointer;
        transition: all 0.4s;
        &:hover {
            box-shadow: 0px 0px 29px 10px rgba(34, 60, 80, 0.23);
        }
    }

    &__img-bg {
        position: absolute;
        bottom: -250px;
        left: -50px;
    }
}

.how {
    background-color: #fff;
    &__inner {
        padding: 120px 0 120px;
        // margin: 120px 0 120px;
        display: flex;
        justify-content: space-between;
    }
    &__descr {
        max-width: 730px;
        margin-right: 30px;
    }
    &__title {
        margin: 100px 0 90px;
    }
    &__text {
        font-size: 24px;
        line-height: 156%;
        margin-top: 20px;
        &:last-child {
            margin-top: 0;
        }
    }
    &__link {
        display: inline-block;
        margin-top: 40px;
        font-size: 24px;
        line-height: 147%;
        color: #101020;
        @extend %u-400;
        padding-right: 34px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            background-image: url("../images/icons/111.svg");
            background-repeat: no-repeat;
            right: 0;
            bottom: 0;
        }
    }
}

.create {
    padding: 120px 0px;

    &__title {
        margin-bottom: 90px;
    }
    &__wrapp {
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }
    &__box {
        padding: 20px;
        max-width: 430px;
        min-height: 315px;
        background: #ffffff;
        border: 1px solid #dedede;
        border-radius: 10px;
    }
    &__img {
        width: 56px;
        margin-bottom: 36px;
    }
    &__img2 {
        width: 44px;
        margin-bottom: 36px;
    }
    &__img3 {
        width: 49px;
        margin-bottom: 36px;
    }
    &__img4 {
        width: 53px;
        margin-bottom: 36px;
    }
    &__word {
        font-size: 32px;
        line-height: 37px;
        color: #101020;
        @extend %u-700;
        margin-bottom: 20px;
    }
    &__text {
        font-size: 16px;
        line-height: 147%;
        color: #3d3d3d;
    }
    &__link {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 134px;
        font-size: 20px;
        line-height: 147%;
        color: #101020;
        @extend %u-400;
    }
    &__link-icon {
        width: 14px;
        height: 13px;
    }

    &__more {
        display: none;
        // display: flex;
        // justify-content: center;
        // margin-top: 20px;
        // text-decoration-line: underline;
        // font-size: 16px;
        // line-height: 147%;
        @extend %u-400;
    }
}

.footer {
    background-color: #17191d;
    color: #fff;
    padding-bottom: 132px;

    &__title {
        margin: 120px 0 90px;
        color: #fff;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1381px;
        width: 100%;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 147px;
            height: 423px;
            background-image: url("../images/footer-bg.png");
            background-repeat: no-repeat;
            right: -261px;
            top: -189px;
        }
    }

    &__block1,
    &__block2 {
        max-width: 333px;
        margin-right: 20px;
    }
    &__block-title {
        font-size: 30px;
        line-height: 34px;
        color: #ffffff;
        @extend %u-700;
        margin-bottom: 30px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 130px;
            height: 2px;
            background: #ff0b53;
            bottom: 0;
            left: 0;
        }
    }
    &__block-box {
        display: flex;
        flex-direction: column;
        padding-left: 39px;
    }
    &__block-address {
        font-size: 20px;
        line-height: 23px;
        color: #ffffff;
        margin-bottom: 15px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background-image: url("../images/icons/map-pin.svg");
            width: 24px;
            height: 24px;
            left: -41px;
            top: -2px;
        }
    }
    &__block-mail {
        margin-bottom: 15px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background-image: url("../images/icons/mail.svg");
            width: 24px;
            height: 24px;
            left: -41px;
            top: 4px;
        }
    }
    &__block-phone {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background-image: url("../images/icons/phone.svg");
            width: 24px;
            height: 24px;
            left: -41px;
            top: 4px;
        }
    }

    &__block3 {
        max-width: 181px;
        width: 100%;
    }
    &__soc {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__soc-privacy {
        font-size: 18px;
        line-height: 21px;
        color: #b1b1b1;
    }
}

@import "media";
